/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.burger {
  font-size: 8px !important;
  display: none;
  height: 3em;
  width: 3em;
  position: absolute;
  right: 5vw;
  align-self: center;
  order: 1;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  z-index: 999;
  overflow: visible;
  outline: 0;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-tap-highlight-color: transparent;
}

/* .burger {
 
  position: relative;
 
  cursor: pointer;

} */

.burger .burger-lines:after {
  left: 0;
  top: -1em;
}
.burger .burger-lines:before {
  left: 1em;
  top: 1em;
}
.burger:after {
  content: "";
  display: block;
  position: absolute;
  height: 150%;
  width: 150%;
  top: -25%;
  left: -25%;
}
.burger .burger-lines {
  top: 50%;
  margin-top: -0.125em;
}
.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before {
  pointer-events: none;
  display: block;
  content: "";
  width: 100%;
  border-radius: 0.25em;
  background-color: white;
  height: 0.25em;
  position: absolute;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.burger .burger-lines:after {
  left: 0;
  top: -1em;
}
.burger .burger-lines:before {
  left: 1em;
  top: 1em;
}
.burger.burger-slip .burger-lines:after,
.burger.burger-slip .burger-lines:before {
  width: 2em;
}

.burger.burger-slip .burger-lines,
.burger.burger-slip .burger-lines:after,
.burger.burger-slip .burger-lines:before {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.burger.burger-slip.open .burger-lines {
  -webkit-transform: translateX(-2em);
  -ms-transform: translateX(-2em);
  transform: translateX(-2em);
  background-color: transparent;
}

.burger.burger-slip.open .burger-lines:before,
.burger.burger-slip.open .burger-lines:after {
  left: 0.5em;
  top: 0px;
}

.burger.burger-slip.open .burger-lines:before {
  -webkit-transform: translateX(2em) rotate(135deg);
  -ms-transform: translateX(2em) rotate(135deg);
  transform: translateX(2em) rotate(135deg);
}

.burger.burger-slip.open .burger-lines:after {
  -webkit-transform: translateX(2em) rotate(-135deg);
  -ms-transform: translateX(2em) rotate(-135deg);
  transform: translateX(2em) rotate(-135deg);
}

@media screen and (max-width: 600px) {
  .burger {
    display: inline-flex !important;
  }

  .burger .burger-lines,
  .burger .burger-lines:after,
  .burger .burger-lines:before {
    border-radius: 0.3em;
    height: 0.3em;
  }

  .bigger {
    font-size: 12px !important;
  }
}
