.search-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  margin-top: 2vw;
}

.search-box input {
  width: 18vw;
  height: 2.4vw;
  border: 0.25vw solid var(--text-hover-color);
  font-family: "Lato";
  font-size: 1.2em;
  padding: 0.3vw 0.25vw;
}

.search-icon {
  margin-left: 0.5vw;
  align-self: center;
}

.search-entry {
  box-shadow: 0px 3px 5px -5px rgba(0, 0, 0, 0.9);
  margin-top: 2vw;
}

.search-entry a {
  text-decoration: none;
  color: black;
}

.search-thumb {
  height: 5vw;
  width: 5vw;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

ul.search-results {
  list-style-type: none;
  margin-top: 2vw;
}

.search-results h4 {
  font-family: "Lato";
  font-weight: 300;
}

.entryTitle {
  font-size: 100%;
  font-family: "Lato";
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  min-width: 26vw;
  font-weight: 800;
  line-height: 1.5em;
  text-decoration: none;
  color: black;
}

.entryTitle h3 {
  margin-left: 1vw;
}
.entryTitle:active {
  color: black;
}

.entryTitle:hover {
  color: var(--text-hover-color);
}

.entryContent {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-wrap: nowrap;
  white-space: normal;
  min-width: 24vw;
  max-width: 50vw;
  padding: 1vw;
  margin: auto;
  line-height: 1.5;
  font-weight: normal;
  font-size: 1vw;
}

/* Nav Search box */

.nav-search-box {
  display: inline-flex;

  justify-content: center;
  align-content: center;
}

.nav-search-box input {
  width: 5vw;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.1vw solid white;
  background-color: transparent;
  font-family: "Lato";
  color: white;
}

.nav-search-box input::placeholder {
  text-align: center;
}

.nav-search-icon {
  margin-left: 0.5vw;
  align-self: center;
  display: flexbox;
}

.nav-search-button {
  background: none;
  border: none;
}

@media screen and (max-width: 500px) {
  .search-box {
    display: none;
  }

  .nav-search-box {
    display: flexbox;
    justify-content: center;
    align-content: center;
    margin-top: 2vw;
  }

  .nav-search-box input {
    width: 50vw;
    height: 10vw;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.6vw solid white;
    background-color: transparent;
    font-family: "Lato";
    font-size: 8vw;
    color: white;
    transition: all 0.3s;
  }

  .nav-search-box input::placeholder {
    text-align: center;
  }

  .nav-search-box input:focus {
    border-bottom-color: var(--border-color);
    outline: none;
  }

  .nav-search-icon {
    margin-left: 0.5vw;
    align-self: center;
  }

  .nav-search-button {
    background: none;
    border: none;
  }

  /*
.search-entry {
  box-shadow: 0px 3px 5px -5px rgba(0, 0, 0, 0.9);
  margin-top: 2vw;
}

.search-entry a {
  text-decoration: none;
  color: black;
}

.search-thumb {
  height: 5vw;
  width: 5vw;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

ul.search-results {
  list-style-type: none;
  margin-top: 2vw;
}

.search-results h4 {
  font-family: "Lato";
  font-weight: 300;
}

.entryTitle {
  font-size: 100%;
  font-family: "Lato";
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 26vw;
  font-weight: 800;
  line-height: 1.5em;
  text-decoration: none;
  color: black;
}

.entryTitle h3 {
  margin-left: 1vw;
}
.entryTitle:active {
  color: black;
}

.entryTitle:hover {
  color: var(--text-hover-color);
}

.entryContent {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-wrap: nowrap;
  white-space: normal;
  width: 24vw;
  padding: 1vw;
  margin: auto;
  line-height: 1.5;
  font-weight: normal;
  font-size: 1vw;
}
*/
}
